.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-top: 24px;
}

.link {
  background: #fefefe;
  padding: 8px 16px;
  font-family: 'Gambetta Variable', serif;
  font-weight: var(--gambetta-regular);
  font-size: 26px;
  letter-spacing: -1.04px;
  color: #121212;
  font-feature-settings: 'salt' 1;
  transition: opacity 150ms ease-out;
}

.link:hover {
  opacity: 0.65;
}
